<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(typeof name !== 'undefined') { %>
        <title><%= name %></title>
    <% } else { %>
        <title>Git Pub app</title>
    <% } %>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/change">My fruits</a>
        <a href="/needTo/beChanged">!!!Make a new drink</a>
        <a href="/changeMe">idk but change this CHANGE ME "!!!DONT FORGET"</a>
    </nav>
