<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gitPub</title>
</head>
<style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }
  </style>
<body>
    <h1>Welcome to gitPubb </h1>
    <ul>
    
    <% for(let i = 0; i < allDrinks.getAll().length; i++) { %>
        <% const original = allDrinks.getOne(i).name
           const originalCptl = original.charAt(0).toUpperCase() + original.slice(1);
        %>
        <li>
            <a href="/drinks/<%=i%>"><%=originalCptl %></a>
        </li>
    <% } %>
    </ul>
</body>
</html>