<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gitPub</title>
</head>
<style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }
  </style>
<body>
    <h1> At foo bar </h1>
    <h2> <%= oneFood.name %> </h2> 

    <img src="<%= oneFood[foodIndex].image %>" >
    <h3> Price: <%= oneFood[foodIndex].price %></h3>
    <a href="/food" > Go Back</a>
</body>
</html>

